<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/static/styles.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>

    <script src="../static/index.js"></script>
</head>

<body>
<div id="header" class="page-header px-2 sticky-top border-bottom">

    <div class="pt-3">
        <h2 class="titleHeader text-center"> &nbsp; &nbsp;PASA</h2>
        <h5 class="titleHeader text-center"> &nbsp; &nbsp;Photo Album Sharing App</h5>


    </div>


    <div class="d-flex justify-content-around">
        <div class="mx-5 px-5 py-2">
            <a href= <%= link %>>
                <button class="btn"><i class="fa fa-bars"></i> <%= button %> &nbsp</button>
            </a>
        </div>


        <form class="form-inline">
            <input id="imageName" name = "imageName" class="form-control" type="search" placeholder="flag.jpg" aria-label="Search">
            <button class="btn " type="submit">Search</button>
        </form>

        <div class="mx-5 px-5 py-2">
            <% if(isLoggedIn == "false"){ %>
                <a href="/signup">
                    <button class="btn"><i class="fa fa-bars"></i> Sign up</button>
                </a>
            <% } else { %>
                <a href="/delete">
                    <button class="btn"><i class="fa fa-close"></i> Log out</button>
                </a>
            <% } %>
        </div>
    </div>
    <h6 class="px-5 text-center text-muted">
    (If you want to view a specific image,
            you can search its name in the search bar)</h6>


</div>

<div class="clearfix mx-5 px-5 my-4 ">

<div class="mb-3">
    <p class="px-5 pt-2 pb-2 text-center"> <%= userGreeting %></p>
    <p class="px-5 pb-2 text-center"> Click on a photo to view more details, check and post comments.</p>



</div>

    <% for (let i = 0; i < imgPath.length; i++){ %>
        <div class="card homeImage w-100">
            <div class="row ">
                <div class="col-md-7 text-center px-3 py-2">

                    <a href="/images/<%= imgName[i] %>" class="stretched-link">
                        <img id = "myImg" name = "<%= imgName[i] %>" class="py-3" width="100%" height="auto" src="<%= imgPath[i] %>">
                    </a>

                </div>
                <div class="col-md-5">
                    <div class="card-body text-center">
                        <p class="card-title text-center"><%= imgName[i] %> by <%= imgUploader[i] %></p>
                        <p class="card-text text-center pb-2"><small class="text-muted"><%= imgDate[i] %></small></p>
                        <p class="card-text text-center pt-5 mt-5 pb-2"><%= likes[i] %> users liked this post</p>

                    </div>
                </div>
            </div>
        </div>
    <% } %>

</div>


<div class="page-footer">

    <div class="text-center py-3">
        <p> ©2021:xzhang@tcd.ie </p>
    </div>

</div>


</body>
</html>